@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f9f4ed;
  --secondary: #eaeaea;
  --primary--dark: #af695c;
  --secondary--dark: #2a2a2a;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.mode-transition {
  transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}
